{% extends 'base.html.twig' %}

{% block title %} display prod {% endblock %}

{% block body %}
<div class='mainframe'>
    {% for displayprod in prod %}
{% dump(displayprod) %}

<div class="divframe">


<iframe src="{{displayprod.url}}"><a href=""></a></iframe>
</div>
        {% endfor %}
</div>

{% endblock %}
