{% extends 'base.html.twig' %}

{% block title %}New DisplayProd{% endblock %}

{% block body %}
    <h1>Create new DisplayProd</h1>

    {{ include('display_prod/_form.html.twig') }}

    <a href="{{ path('display_prod_index') }}">back to list</a>
{% endblock %}
